{% extends "knowhub/base.html" %}

{% block content %}
  {% for article in articles %}
    <article class="media content-section">
      <img class="rounded-circle article-img" src="{{ article.user.profile.image.url}}" alt="">
      <div class="media-body">
        <div class="article-metadata">
          <a class="mr-2" href="#">{{ article.user }}</a>
          <small class="text-muted">{{ article.creation_date|date:"F d, Y" }}</small>
        </div>
        <h2><a class="article-title" href="{% url "article-detail" article.id %}">{{ article.name }}</a></h2>
        <p class="article-content">{{ post.content }}</p>
      </div>
    </article>
  {% endfor %}
{% endblock content %}
