{% extends "base.html" %}
{% load crispy_forms_filters %}

{% block content %}
  {% if services_list %}
    <div class="list-group">
      {% for service in services_list %}
        <a href="{% url 'services-detail' service.id %}" class="list-group-item list-group-item-action">
          <h5 class="mb-1">{{ service.name }}</h5>
          <small>ID: {{ service.id }}</small>
        </a>
        <br>
      {% endfor %}
      <form method="get" action="" class="form-inline">
        {{ search_form|crispy }}
        <input class="btn btn-secondary" type="submit" value="🔎">
      </form>
    </div>
    <a href="{% url 'services-create' %}" class="btn btn-primary mt-3">Create services</a>
  {% else %}
    <p>There are no services.</p>
    <a href="{% url 'services-create' %}" class="btn btn-primary">Create Services</a>
  {% endif %}
{% endblock %}
